.splash-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.splash-container img {
  width: 40%;
}

.splash-container .controls {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
