<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>DoCD Installer</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/master.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div class="splash-container">
      <img src="../media/DoCD-logo-transparent.png" alt="DoCD-logo" />
      <h2>CLI Installer</h2>
      <div class="controls">
        <input id="startBtn" type="button" class="button" value="Start" />
        <input id="quitBtn" type="button" class="button" value="Quit" />
      </div>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="../renderer.js"></script>
    <script src="../scripts/index.js"></script>
  </body>
</html>
